#parent {
    position: relative;
    display: flex;
}
.menu {
    position: absolute;
    display: flex;
    background: white;
    width: 78em;
    height: 100px;
    margin-top: 50px;
    margin-left: 50px;
}
.apresentacao {
    position: absolute;
    display: flex;
    width: 300px;
    margin-top: 300px;
    margin-left: 50px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: white;
}
.nome {
    position: absolute;
    display: flex;
    width: 500px;
    margin-top: 180px;
    margin-left: 50px;
    font-size: 50px;
    font-family: tahoma;
    color: white;
}
a {
    display: flex;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: tahoma;
    color: black;
    padding: 30px;
    margin: 10px;
}
a:hover {
    background: rgb(22, 17, 71);
    color: white;
}
.nome:hover {
    font-size: 55px;
}
